<ion-header no-border>
  <ion-toolbar>
    <ion-segment scrollable mode="md" color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" *ngFor="let day of days" [value]="day">
        <ion-label text-capitalize>{{day}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of deitaTmpTemplate | filtro: day:'dia'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-label> {{item.type}} </ion-label>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>{{item.item}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<!-- (ionChange)="cambioCategoria($event)"> -->
